@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-hidden .typed-cursor{
    opacity: 0;
    animation: none;
}


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .center{
    border: 1px solid red;
    width: 10vw;
    max-width: 20vw;
    margin: 0 auto;
    background-color: rebeccapurple;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */